body {
    background-color: #44f;
    font-family: "Comic Sans MS","Roboto";
}

.fake {
    width: 40%;
    text-align: right;
}

.r {
    font-size: 50px;
}

.e {
    background-color: white;
    height: 200px;
    position: fixed;
    width: 40%;
    height: 70%;
    left: 55%;
    top: 12%;
}

.f {
    text-align: left;
    background-color: white;
    position: fixed;
    left: 55%;
    top: 5%;
    height: 5%
}

.m {
    background-color: white;
    height: 100px;
    text-align: right;
    position: fixed;
    left: 49%;
}

.st {
    font-size:12px;
}

.m2 {
    background-color: white;
    position: absolute;
    z-index: 67;
    left: 0%;
    height: 10%;
}

.container div {
    border: 3px solid white;
    height: 94px;
    font-size: 15px;
    text-align: left;
}